<div class="container">

  <div class="col-md-6 cold-md-offset-3"
  <h1>New Session</h1>
  <%= form_tag do %>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, "", class: "form-control"%>
    </div>

    <div class="form-group">
      <%= label_tag :password%>
      <%= text_field_tag :password, "", class: "form-control"%>
    </div>

    <div class="form-group">
      <%= submit_tag "Sign In", class: "btn btn-primary"%>
    </div>
  <%end%>
  </div>
</div>
