<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header_bar">
    <h1>Gauzip <small>hot goss</small></h1>

    <div class="header_links">
        <%=link_to 'Share Gossip', new_post_path%>
        <%=link_to 'Get Gossip', root_path%>
      </div>

  </div>

    <%= yield %>
  </div>
</body>
</html>
